.project{
    background-color: #f7dcf7;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    min-height: calc(100vh - 70px);
    height: auto;
}
.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    min-width: 217px;
    min-height: 500px;
    /* height: auto; */
    padding: 15px;
    border: solid;
    margin: 20px;
    transition: all 0.2s ease;
}
.projectCard:hover{
    width: 26%;
    height: 515px;

}
.cardimg img{
    width: 100%;
    padding: 5px;
}
.cardtitle h2{
    font-size: 30px;

}
.desc{
    font-size: 18px;
}
.vewbtn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: yellow;
}
@media screen  and (max-width:450px){
        .desc{
            display: none;
        }
        .projectCard{
            width: 100vw;
            justify-content: flex-start;
            min-height: auto;
        }
        .projectCard:hover{
            width: 100vw;
            height: auto;
        }
}