.menu{
    width: 250px;
    height: 100vh;
    background-color: rgb(245, 89, 245);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 3;
    display: flex;
    /* justify-content: center; */
    transition: all 1s ease;

    
}
.menuActive{
    right: 0;
}
.menu ul{
    margin-top: 80px;
    padding: 20px;
}
.menu li{ list-style: none;
    font-size: 30px;    
    font-weight: 300;
    color: white;
    padding: 20px;
}
a{
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.menu li:hover{
    font-weight: 500;
    font-size: 35px;
}